/*common*/

a,.btn-link{
    color: #3cb7f2;
}
.text-brand{
    color: #3cb7f2;
}
/*header*/
.header-top{
    background: #3cb7f2;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header-top a{
    color: white;
}
.header-botton{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*corpo pagina*/


.altezza{
    min-height: calc(100vh - 166px);
}

.color-blu{
    color: #073892;
}
.color-yellow{
    color: #edc52d;
}

.color-light-blue{
    color: #1f8ee6;
}

.color-red{
    color: #ca2b1b;
}

.color-light-gray{
    color: #dadcde;
}

.color-green{
    color: #30af0b;
}
.info{
    color: #949aa6;
    font-size: 14px;
}

.card-body{
    padding: 10px;
}

.footer{
    background: rgb(13, 36, 76);
    height: 40px;
}